<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.mrj.trainmanager.mapper.PermissionMapper">

    <resultMap id="PermissionMap" type="org.mrj.trainmanager.domain.entity.PermissionDO">
        <id property="id" jdbcType="BIGINT" column="id"/>
        <result property="permission" jdbcType="VARCHAR" column="permission"/>
        <result property="permissionId" jdbcType="BIGINT" column="permission_id"/>
    </resultMap>

    <select id="getPermissionIdByRoleId" resultType="long">
        SELECT permission_id FROM `role_permission`
        WHERE role_id = #{roleId}
    </select>

    <select id="getPermissionByPermissionId" resultType="java.lang.String">
        SELECT permission FROM `permission`
        WHERE permission_id = #{permissionId}
    </select>

</mapper>